{% extends "base.html" %}
{% block title %}Newspaper Bottom Visual Review{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chronicles/chronicle_common.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chronicles/sections/what_things_cost.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chronicles/sections/bottom.css') }}">
<style>
    html,
    body {
        margin: 0;
        min-width: 920px;
        min-height: 176px;
    }
</style>
{% endblock %}
{% block content %}
{% include "chronicles/sections/bottom.html" %}
{% endblock %}